*, *::after, *::before {
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

body {
  background: #DAEDBD;
  margin: 0; 
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  max-width: 80%;
  flex-direction: column;
}

.credits {
  margin-top: 4rem;
}

.credits p {
  margin-bottom: 0.75rem;
  margin-top: 0rem;
}